/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #1E4297;
	background-repeat:repeat-x;
}

*
{
  margin: 0 auto 0 auto;
  text-align:left;
}

#container
{
  display: block;
  height:auto;
  position: relative;
  width: 940px;

}

#mainpic h1
{
    position:absolute;
    text-align:right;
    font-size:30px;
    color:#4763E8;
    left:30px;
    top:50px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#5E67A2;
left:50px;
top:80px;
}

#mainpic
{
background-image:url(images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:120px;
}



.lightblue
{
color:#B1C6FC

}




#menu
{
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

#content
{
width:940px;
height:400px;
float:left;
background-color:#FFF;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:block;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(images/menuhov.jpg) no-repeat;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}