body
{
	color: #512D70;
	font-family: tahoma;

}



tr:nth-child(even) {
    background-color: #CBB8F5
}


table.catalogo {

	width: 100%;
	border: 3px solid #5E2B70;
	font-family: tahoma;
}

table.catalogo th {
	border: 1px solid #e6eff0;
    padding: 1em;
	color: #FBF9FB;
	background: #472D62;

}


table.catalogo td {
	border: 1px solid #5E2B70;
}

td.imagen
{
    text-align: center;
    width: 100px;
}

.t100
{
    width: 100px;
}
