
body
{
	color: #FFFFFF;
	font-family: tahoma;
    background: #0B172C;

}


table {width:930px;}
thead {background-color:#091222;color:#FFFFFF;text-align:center; position:fixed; top:0px; font-size: 12px;}

thead th { height:20px; width:186px;}
tbody {background-color:#d68617;color:#000000;text-align:center;   overflow-Y: scroll;; margin:0px; height: calc(50vh - 1px); }
tbody td { width:186px;}

tr:nth-child(even) {
    background-color: #fcac3c
}

img
{
    float: right;
    padding:0.5em;
}

