body{
    font-family: "consolas";
}

input.bd{
    width: 100%;
}

th{
    background-color: #9999ff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #ccccff;
}
